.mouse-holder {
    position: relative;
    display: inline-block;
    transition: all 0.5s ease;
    background-color: var(--secondary-color);
    border-radius:15px;
    padding:40px;
    max-width: 100%;
    margin:15px;
}
.mouse-holder:hover {
    transform: scale(101%);
    box-shadow: 10px 10px 10px rgb(var(--background-color-rgb),0.3);
    cursor:none;
}

.mouse-img {
    pointer-events: none;
}
.mouse-overlay {
    position: absolute;
    padding: 40px;
    top: 0;
    left: -31px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.counter {
    color: var(--text-color);
    background-color: var(--secondary-color);
    text-align: center;
    width: 35px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    outline-width: 5px;
    outline: double;
    animation-duration: 1s;
    animation-name: counterIdleAnim;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.counter-anim-1 {
    animation-duration: 1s;
}

.counter-anim-1-2 {
    animation-duration: 1.2s;
}

.counter-anim-0-8 {
    animation-duration: 0.8s;
}

.counter-left-click {
    position: absolute;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: 25%;
    left: 21%;
}

.counter-right-click {
    position: absolute;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: 25%;
    left: 70%;
}
.counter-middle-click {
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    top: 20%;
    left: 46%;
}

@keyframes counterIdleAnim {
    from {
        transform: scale(90%);
    }

    to {
        transform: rotate(100%);
    }
}

.mouse-button {
    fill: var(--primary-color);
}

.mouse-success {
    fill: var(--success-color);
}
.mouse-accent-success{
    fill: var(--success-accent-color);
}
.mouse-error {
    fill: var(--error-color);
}
.mouse-accent-error {
    fill: var(--error-accent-color);
}
