.footer {
    background: var(--background-color);
    padding: 8px;
    margin: 0px;
}

.footer-desc {
    font-family: var(--primary-font);
    color: var(--text-color);
    text-align:center;
    padding:0px;
    padding:2px;
    margin:0px;
    font-size:20px;
}

.footer-links {
    font-family: var(--primary-font);
    color: var(--text-color);
    display:flex;
    gap:40px;
    justify-content:center;
}

.footer-link {
    margin: 5px;
    cursor: pointer;
    text-decoration: underline;
    color: inherit;
    transition: all 0.3s ease;
}
.footer-link:hover {
    transform: rotate(5deg);
    font-weight:bold;
}