.footer {
    background: var(--background-color);
    padding: 8px;
    margin: 0px;
    max-height:80px;
    height:80px;
}

.footer-desc {
    font-family: var(--primary-font);
    color: var(--text-color);
    text-align:center;
    padding:5px;
    margin:0px;
    font-size:20px;
}

.footer-links {
    font-family: var(--primary-font);
    color: var(--text-color);
    display: flex;
    margin: 10px;
    justify-content:center;
}

.footer-link {
    margin: 5px 5px 10px 5px;
    color: inherit;
    transition: all 0.3s ease;
    cursor: pointer;
}

.footer-link-youtube:hover {
    transform: rotate(-3deg);
    font-size: 20px;
    color: #FF0000; 
    font-weight: bold;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.footer-link-linkedin:hover {
    transform: rotate(-3deg);
    font-size: 20px;
    color: #0077B5; 
    font-weight: bold;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.footer-link-github:hover {
    transform: rotate(3deg);
    font-size: 20px;
    color: #808080;
    font-weight: bold;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.footer-link-discord:hover {
    transform: rotate(3deg);
    font-size: 20px;
    color: #5865F2; 
    font-weight: bold;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}
