.mouse-holder {
    position: relative;
    display: inline-block;
    transition: all 0.5s ease;
    background-color: var(--secondary-color);
    border-radius:15px;
    padding:40px;
    max-width: 100%;
    margin:15px;
}
.mouse-img {
    pointer-events: none;
}
.mouse-overlay {
    position: absolute;
    padding: 40px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.mouse-button {
    fill: var(--primary-color);
}

.mouse-success {
    fill: var(--success-color);
}

.mouse-error {
    fill: var(--error-color);
}
